* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

input {
  outline: none;
  border: 0; }

a {
  text-decoration: none;
  color: #000; }

@media screen and (min-width: 320px) {
  html {
    font-size: 50px; } }
@media screen and (min-width: 360px) {
  html {
    font-size: 56px; } }
@media screen and (min-width: 400px) {
  html {
    font-size: 63px; } }
@media screen and (min-width: 440px) {
  html {
    font-size: 69px; } }
@media screen and (min-width: 480px) {
  html {
    font-size: 75px; } }
html {
  font-size: 15.625vw; }

@media screen and (min-width: 640px) {
  html {
    font-size: 100px; } }
body {
  font-size: 0.01rem; }

.denglu-header {
  display: flex;
  padding: 0.25rem 0.3rem;
  background: #3698d9; }
  .denglu-header p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.36rem; }

.yema {
  margin: 0 0.2rem;
  border-bottom: 1px solid #eeeeee; }
  .yema p {
    font-size: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem; }
    .yema p span {
      color: red; }
  .yema input {
    width: 100%;
    font-size: 0.26rem;
    color: #d0d0d0;
    margin-bottom: 0.2rem;
    border: 0; }

.zixundiv {
  display: flex;
  padding: 0 0.2rem; }
  .zixundiv div {
    width: 50%; }
    .zixundiv div p {
      font-size: 0.3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem; }
      .zixundiv div p span {
        color: red; }
    .zixundiv div input {
      width: 100%;
      font-size: 0.26rem;
      color: #999999;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid #eeeeee; }
  .zixundiv .zixundiv1 {
    margin-right: 0.3rem; }

.yemasss {
  margin: 0 0.2rem;
  border-bottom: 1px solid #eeeeee; }
  .yemasss p:nth-child(1) {
    font-size: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem; }
    .yemasss p:nth-child(1) span {
      color: red; }
  .yemasss p:nth-child(2) {
    font-size: 0.3rem;
    color: #d0d0d0;
    padding-bottom: 0.6rem; }
    .yemasss p:nth-child(2) span {
      color: red; }
  .yemasss input {
    width: 100%;
    font-size: 0.26rem;
    color: #d0d0d0;
    margin-bottom: 0.2rem;
    border: 0; }

.anniu-box {
  padding: 0.8rem 0.2rem;
  display: flex; }
  .anniu-box .anniu {
    width: 100%;
    background: #3698d9;
    border: 0;
    font-size: 0.3rem;
    color: #fff;
    padding: 0.2rem 0;
    border-radius: 0.05rem;
    -webkit-appearance:none;
  }

.sanp {
  display: flex; }
  .sanp p {
    width: 33.33%;
    text-align: center;
    font-size: 0.26rem; }
  .sanp p:nth-child(1), .sanp p:nth-child(3) {
    border-top: 2px solid #eeeeee;
    margin-top: 0.2rem; }

.weiq {
  display: flex;
  padding: 0.6rem 0.2rem 1.8rem; }
  .weiq .weiqa {
    width: 50%;
    font-size: 0.26rem; }
    .weiq .weiqa a {
      text-align: center; }
      .weiq .weiqa a img {
        width: 35%;
        display: block;
        margin: auto; }

.foot{
    height: 0.9rem;
    border-top: 0.01rem solid #eee;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.foot ul{
    display: flex;
    flex: 1;
}
.foot ul li{
    flex: 1;
    height: 0.9rem;
}
.foot ul li a{
    display: flex;
    height: 0.9rem;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #666;
}
.foot ul li a img{
    height: 0.4rem;
    width: 0.4rem;
}
.foot ul li a p{
    font-size: 0.22rem;
}
.blue{
  color: #3698d9;
}

.xiala {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
  .xiala .xialade {
    position: fixed;
    bottom: 0;
    width: 100%; }
    .xiala .xialade input {
      width: 43%;
      float: left;
      padding: 0.2rem;
      color: #999999; }
    .xiala .xialade input:nth-child(2) {
      text-align: right;
      color: #5eafff; }
    .xiala .xialade select {
      width: 100%; }

/*# sourceMappingURL=zixun.css.map */
